# ===========================
# Sistema
# ===========================
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# ===========================
# IDEs
# ===========================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# ===========================
# Flutter / Dart
# ===========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# ===========================
# Android
# ===========================
android/app/debug/
android/app/profile/
android/app/release/

# Keystore
android/key.properties
android/app/*.jks
android/app/*.keystore

# ===========================
# iOS
# ===========================
ios/Pods/
ios/Runner.xcworkspace/

# ===========================
# Windows / Linux / macOS
# ===========================
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/

# ===========================
# Banco de dados
# ===========================
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

# ===========================
# Variáveis de ambiente
# ===========================
.env
.env.*
!.env.example

# ===========================
# Firebase
# ===========================
firebase-debug.log
firestore-debug.log
ui-debug.log

# Firebase Admin SDK
service-account*.json

# ===========================
# Arquivos temporários
# ===========================
*.tmp
*.temp


skills/
skills-lock.json
